body {
  /* REMOVE DEFAULT MARGIN */
  margin: 0;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

ul, li {
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #288dd1;
  text-decoration: none;
}

/* WIDTH | STYLE | COLOR */
a img {
  border: 0 none #fff;
}

h1 {
  margin: 0 0 20px;
}

/* FOR RESTAURANT HOURS */
table {
  table-layout: fixed;
}

#maincontent {
  background-color: #f3f3f3;
}

#footer {
  background-color: #444;
  color: #dedede;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/************************ NAVBAR ************************/

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  display: flex;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 15pt;
  font-weight: 200;
  letter-spacing: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  text-align: center;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  text-align: center;
}

#breadcrumb li {
  display: inline;
}

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  /* Hexadecimal code for nonbreaking space */
  content: '&gt;';
}

#breadcrumb li a {
  color: #252831;
  text-decoration: none;
}

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/************************ MAP ************************/

#map {
  height: 400px;
  max-width: 100%;
  background-color: #ccc;
}

/************************ RESTAURANT FILTERING ************************/

.filter-options {
  background-color: #1862c6;
  display: flex;
  justify-content: center;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  max-width: 160px;
}

/************************ RESTAURANT LISTINGS ************************/

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 30px;
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  padding: 10px;
  max-width: 270px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  max-width: 100%;
}

#restaurants-list li h2 {
  color: #c7650d;
  font-family: Arial, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

/* Applies to "view details" button */
#restaurants-list li a {
  background-color: #252831;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/************************ RESTAURANT INFORMATION ************************/

#restaurant-name {
  color: #c7650d;
  font-size: 19pt;
  font-weight: 300;
  margin-top: 1px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
}

#restaurant-img {
  width: 50%;
}

#restaurant-address {
  font-size: 12pt;
  color: #666;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

#restaurant-container,
#reviews-container,
.reviews-form {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews-container h3 {
  color: #c7650d;
  font-size: 19pt;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin: 7px 0 7px 0;
  text-transform: uppercase;
}

#reviews-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 35px;
  width: 80%;
}

#reviews-list li:last-child {
  margin-bottom: 0;
}

#reviews-list li p {
  margin: 0 0 10px;
  word-wrap: break-word;
}

#restaurant-hours {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  overflow: hidden;
  padding: 20px;
}

#restaurant-hours td {
  color: #666;
}

.restaurant-icon {
  display: flex;
}

.restaurant-fav-icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.leaflet-container a {
  color: #252831;
}

/************************ MEDIA QUERIES ************************/

/* 
  -------------
  LARGE SCREENS 
  -------------
*/

@media screen and (min-width: 1200px) {
  /* SPLIT IN TO FOUR COLUMNS */
  #restaurants-list {
    grid-template-columns: repeat(4, 1fr);
  }

  /* RESET IMAGE SIZE */
  #reviews-list li {
    width: 60%;
  }
}

/* 
  --------------
  MEDIUM SCREENS 
  --------------
*/

@media screen and (min-width: 995px) {
  #restaurants-list {
    /* SPLIT IN TO THREE COLUMNS */
    grid-template-columns: repeat(3, 1fr);
  }

  /* RESET IMAGE SIZE */
  #restaurant-img {
    width: 60%;
  }

  #restaurant-cuisine {
    width: 60%;
  }
}

/* 
  ----------------------
  MEDIUM SCREENS/TABLETS 
  ----------------------
*/

@media screen and (min-width: 720px) {
  #restaurants-list {
    /* SPLIT IN TO TWO COLUMNS */
    grid-template-columns: repeat(2, 1fr);
  }

  /* ALLOW FOR MORE SPACE IN *LI*. OVERRIDE THE DEFAULT SETTINGS */
  #restaurants-list li {
    max-width: none;
  }

  /* RESET IMAGE SIZE */
  #restaurant-img {
    width: 70%;
  }

  #restaurant-cuisine {
    width: 70%;
  }
}

/* 
  ---------------------------
  SMALL SCREENS/MOBILE PHONES 
  ---------------------------
*/

@media screen and (max-width: 719px) {
  nav h1 {
    text-align: center;
  }

  nav h1 a {
    font-size: 13pt;
  }

  /* ALLOW FOR MORE SPACE IN *LI*. OVERRIDE THE DEFAULT SETTINGS */
  #restaurants-list li {
    max-width: 90%;
  }

  /* RESET IMAGE SIZE */
  #restaurant-img {
    width: 80%;
  }

  #restaurant-cuisine {
    width: 80%;
  }
}